@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/static/fonts/Montserrat-Bold.ttf') format('ttf');

    font-family: 'Montserrat-Light';
    src: url('/static/fonts/Montserrat-Light.ttf') format('ttf');
}

/* Общие стили */
body {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-bottom: 20px;
}

/* Стили заголовков */
.title-block {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    max-width: 800px;
    margin: 20px 0 10px 0;
    width: 100%;
    align-self: center;
}

/* Скрываем оригинальный input файла */
.input-file {
  display: none;
}
/* Новый кастомный input файла */
.input-file-label {
    margin-top: 3px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #0b10b3;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
}
.input-file-label:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transform: scale(1.02);
}


/* Стили таблицы */
table {
    border-collapse: collapse;
    margin-top: 1em;
}
th, td {
    border: 1px solid #ccc;
    padding: 0.4em 0.6em;
}
#df-head-wrapper {
    overflow-x: auto;
    width: 90%;
    margin-top: 10px;
}

/* Стиль кнопок */
button {
    margin-top: 3px;
    background-color: #0b10b3;
    color: #fff;
    border: none;
    border-radius: 20px !important;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
}
button:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transform: scale(1.02);
}

/* Стили выбора колонок */
#columns-wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
#columns-wrapper label {
    cursor: pointer;
    padding: 5px 13px;
    border: 2px solid #0b10b3;
    border-radius: 30px;
    background-color: #fff;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}
#columns-wrapper label:hover {
    background-color: #e7f0fd;
}
#columns-wrapper input[type="radio"]:checked + label {
    background-color: #0b10b3;
    color: #fff;
    border-color: #0b10b3;
    font-weight: bold;
}

#chart-type {
    padding: 5px 20px;
    font-size: 16px;
    font-family: 'Montserrat-Light', sans-serif;
    border: 2px solid #0b10b3;
    border-radius: 30px;
    background-color: #0b10b3;
    color: #fff;
    cursor: pointer;
    width: 275px;
}
#chart-type:hover,
#chart-type:focus {
    border-color: #0b10b3;
    outline: none;
}
#chart-type option {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 16px;
    border-color: #0b10b3;
    text-align: center;
}

/* Стили графика (изначально скрыт) */
#plot-image {
    display: none;
    margin-top: 20px;
    max-width: 80%;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
